---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
	<section class="bg-white dark:bg-gray-900">
		<div
			class="flex h-screen w-full flex-col items-center justify-center rounded-lg p-6 dark:bg-slate-900"
		>
			<div class="grid h-full w-full grid-cols-3 grid-rows-6 gap-4">
				<div
					class="col-span-2 row-span-3 rounded-3xl bg-orange-400 p-4"
				>
					<h1
						class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
					>
						Astro Appwrite Starter Template
					</h1>

					<p class="text-2xl font-bold mt-4">
						The Astro appwrite template is a github repo with a
						basic note-taking application with image upload using
						the Appwrite on the backend.
					</p>

					<p class="text-2xl font-bold">
						In this template you will be able create new note, view
						all notes from the database and delete a note. <br />
						You will also get the basics of adding a login/registration
						system
					</p>
					<p class="text-2xl font-bold">
						You need to have an free appwrite account and create a
						project, then add the relevant credentials into a .env
						file
					</p>
					<div class="mt-8">
						<a
							href="/login"
							class="text-white bg-gray-800 hover:bg-gray-400 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
							>Try Login</a
						>
						<a
							href="/register"
							class="text-white bg-gray-800 hover:bg-gray-400 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
							>Try Register</a
						>
						<a
							href="/dashboard"
							class="text-white bg-gray-800 hover:bg-gray-400 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
							>View Dashboard</a
						>
					</div>
					</div>
					<div class="row-span-4 rounded-3xl bg-black p-8 text-white">
						<h5 class="mb-2 text-7xl font-bold">What's included</h5>

						<div>
							<ul>
								<li class="font-bold text-3xl">Astro JS</li>
								<li class="font-bold text-3xl">Tailwind CSS</li>
								<li class="font-bold text-3xl">Flowbite</li>
								<li class="font-bold text-3xl">Appwrite</li>
							</ul>
						</div>
					</div>
					<div class="row-span-3 rounded-3xl bg-black text-white p-8">
						<h1 class="text-4xl font-bold mt-2">
							Appwrite Features
						</h1>
						<p class="text-xl italic">
							The template uses the Auth, Database, and Storage
							features from Appwrite
						</p>
						<ul>
							<li class="font-bold text-3xl">Auth - Login</li>
							<li class="font-bold text-3xl">
								Database - Create, Read and Delete notes
							</li>
							<li class="font-bold text-3xl">
								Storage - File uploads
							</li>
						</ul>
					</div>
					<div class="row-span-3 rounded-3xl bg-orange-400"></div>
					<div class="row-span-2 rounded-3xl bg-orange-400"></div>
				</div>
			</div>
		</div>
	</section>
</MainLayout>
